ul {
    list-style: none;
    margin: 1;
    padding: 0;
    display: flex;
    background: red;
  }
  
li {
    background: #F4F9F9;
    flex: 1;
    padding: 10px;
    text-align: center;
  }
  
nav a {
    text-decoration: none; 
    color: black;
    font-size: 1.2em;
    font-family: "Optima", sans-serif;
  }

 
  
li:nth-of-type(1){
  }
li:nth-of-type(2){
    background: ;
  }
li:nth-of-type(3){
  }
li:nth-of-type(4){
    background: ;
  }
li:nth-of-type(5){
  }
li:nth-of-type(6){
    background: ;
  } 
  