/* hero background image */
.bgimage {
    height:100vh;
    background: url('https://wallpapersmug.com/u/cb4cfc/abstract-dark-geometry-cubical-surface.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
    border-radius: 25px;
    background: #020300;
    padding: 7px;
}

.imageAccolades {
    width: 100%;
    border-radius: 25px;
    background: #020300;
    padding: 7px;
}
/* services section css */
.servicesText.card {
    height: 450px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.navbarScroll.navbarDark {
    background-color: black;
}

.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-github:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

#about, #services, #portfolio, #contact,#accolades {
    margin-top: 4rem;
    padding-top: 4rem;
}

#accolades{
    padding-bottom: 100px;
}


a {
    color: silver;
}

.portfolioIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

/* Collapsible section button */
.btn-primary.collapsed::after {
    content: "\f054"; /* Unicode character for right arrow */
}

.btn-primary::after {
    content: "\f078"; /* Unicode character for down arrow */
}

/* Portfolio section */
#projectSection {
    margin-top: 20px;
}

/* Additional styles for the collapsible section content */
#projectSection .card {
    margin-top: 10px;
    background-color: #f8f9fa; /* Adjust the background color as needed */
}

#projectSection .card-body {
    padding: 20px;
}

#projectSection img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    color: #fff;
    background-color: Black;
    border-color: Black ;

}